* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box; /* element width includes border & padding */
}

html {
    --bg-pale-pink: hsla(0, 100%, 80%, 0.281);
    --logo-red: hsl(0, 100%, 66.7%);
    --logo-grey: hsl(0, 0%, 31.8%);
    --clock-center-grey: hsl(0, 0%, 28.6%);
    --hour-hand-grey: hsl(0, 0%, 50.2%);
    --minute-hand-grey: hsl(0, 0%, 68.6%);
    --second-hand-red: hsl(0, 100%, 50%);
}

.site-wrap {
    background-color: var(--bg-pale-pink);
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100px min-content 100px;
    grid-template-areas: "header" "container-content" "footer";
}

.container {
    margin: 0 auto; /* centers the container w/in the page */
    padding: 15px;
    width: 100%;
}

/* HEADER BAR */

header {
    /* background-color: rgba(0, 0, 0, 0.1); */
    grid-area: header;
    grid-row-start: 1;
    grid-row-end: 2;
    z-index: 13;
}

.container.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%; /* contained header takes full height of header element */
}

/* LOGO IMAGE AND TEXT */

.logo {
    height: 60px; 
    width: 60px;
}

.logo-box a {
    display: flex;
    align-items: center;
    text-decoration: none;
    text-transform: uppercase;
    color: var(--logo-grey);
}

.logo-box a h1 {
    padding-left: 3px;
}

.logo-box a span{
    color: var(--logo-red);
}

/* TAGLINE */

.tagline {
    display: none;
}

/* CONTAINER for PAGE CONTENT */

.container.content {
    grid-area: container-content;
    grid-row-start: 1;
    grid-row-end: 3;
    height: 100vh;
    /* background-color: rgba(255, 255, 255, 0.63); */
    display: flex;
    justify-content: center;
    align-items: center;
}

.clock {
    background: rgba(255, 255, 255, 1.0);
    height: 350px;
    width: 350px;
    border: 20px solid white;
    box-shadow: inset 0 0 30px rgba(0, 0, 0, 0.1), 
                      0 15px 20px rgba(0, 0, 0, 0.2), 
                      0 0 0 4px rgba(255, 255, 255, 1.0);
    border-radius: 50%;
    position: relative;
}

/* CIRCLE IN CLOCK'S CENTER */

.clock::after { /* ::after pseudo-element renders circle atop clock hands */
    content: '';
    background-color: var(--clock-center-grey);
    border: 2px solid white;
    height: 15px;
    width: 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
}

/* NUMBERS ON THE CLOCK */

.number {
    --hour_rotation: 0;
    position: absolute;
    pointer-events: none; /* makes numbers (except 1 on double-click?) unselectable*/
    height: 100%;
    width: 100%;
    text-align: center;
    padding: 15px;
    transform: rotate(calc(var(--hour_rotation) * 30deg));
}

.num {
    transform: rotate(calc(var(--hour_rotation) * -30deg));
}

.hour1 { --hour_rotation: 1;}
.hour2 { --hour_rotation: 2;}
.hour3 { --hour_rotation: 3;}
.hour4 { --hour_rotation: 4;}
.hour5 { --hour_rotation: 5;}
.hour6 { --hour_rotation: 6;}
.hour7 { --hour_rotation: 7;}
.hour8 { --hour_rotation: 8;}
.hour9 { --hour_rotation: 9;}
.hour10 { --hour_rotation: 10;}
.hour11 { --hour_rotation: 11;}
.hour12 { --hour_rotation: 12;}

/* CLOCK HANDS */

.hand {
    --hand_rotation: 0;
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform: translateX(-50%) rotate(calc(var(--hand_rotation) * 1deg));
    border: 1px solid white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    transform-origin: bottom;
}

.hour-hand {
    height: 35%;
    width: 10px;
    background-color: var(--hour-hand-grey);
}

.minute-hand {
    height: 40%;
    width: 7px;
    background-color: var(--minute-hand-grey);
}

.second-hand {
    height: 45%;
    width: 3px;
    background-color: var(--second-hand-red);
}

/* FOOTER */

footer {
    grid-area: footer;
    grid-row-start: 3;
    grid-row-end: 4;
    /* background-color: rgba(0, 0, 0, 0.1); */
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (min-width: 850px) {
    .container {
        width: 90%;
    }

    .tagline {
        display: inline;
        color: var(--logo-grey);
        text-transform: uppercase;
        text-decoration: none;
        font-size: 1.4em;
    }

    .clock {
        height: 430px;
        width: 430px;
    }
}

@media screen and (min-width: 1600px) {
    .container {
        width: 80%;
    }

    .clock {
        height: 450px;
        width: 450px;
    }
}