@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap");

* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box; /* element width includes border & padding */
}

:root {
    --white: hsla(0, 0%, 100%, 1.0);
    --bg-pale-pink: hsla(0, 100%, 80%, 0.281);
    --logo-red: hsl(0, 100%, 66.7%);
    --logo-grey: hsl(0, 0%, 31.8%);
    --hand-grey: hsl(0, 0%, 11.8%);
    --clock-center-grey: hsl(0, 0%, 38.6%);
    --bdash-grey: hsl(0, 0%, 50.2%);
    --sdash-grey: hsl(0, 0%, 68.6%);
    --border-grey: hsl(0, 0%, 90.2%);
}

.site-wrap {
    background-color: var(--bg-pale-pink);
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100px min-content 100px;
    grid-template-areas: "header" "container-content" "footer";
}

.container {
    margin: 0 auto; /* centers the container w/in the page */
    padding: 15px;
    width: 100%;
}

/*  ================================================================================
                            HEADER BAR (for full logo & tagline)
    ================================================================================ */

header {
    grid-area: header;
    grid-row-start: 1;
    grid-row-end: 2;
    z-index: 1;
}

.container.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%; /* contained header takes full height of header element */
}

/* LOGO IMAGE AND TEXT */

.logo-box {
    display: flex;
    align-items: center;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.01em;
    color: var(--logo-grey);
}

.logo-img {
    height: 58px; 
    width: 58px;
}

.logo-text { /* for 'CLOCKAPP' text */
    margin-top: 5px;
    padding-left: 3px;
    font-size: 190%;
}

.logo-text span { /* for 'APP' text */
    padding-left: 2px;
    letter-spacing: 0.02em;
    color: var(--logo-red);
}

/* TAGLINE */

.tagline {
    display: none;
}


/*  ================================================================================
                        CONTAINER for PAGE CONTENT BELOW HEADER
    ================================================================================ */

.container.content {
    grid-area: container-content;
    grid-row-start: 1;
    grid-row-end: 3;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*  ================================================================================
                                   DEFAULT CLOCK THEME
    ================================================================================ */

.clock {
    background: var(--white);
    height: 75vmin;
    width: 75vmin;
    max-width: 700px;
    max-height: 700px;
    pointer-events: none;
    border: 4.8vmin solid var(--white);
    box-shadow: inset 0 0 5vmin rgba(0, 0, 0, 0.1), 
                        0 2.8vmin 3vmin rgba(0, 0, 0, 0.2), 
                        0 0 0 0.4vmin var(--white);
    border-radius: 50%;
    position: relative;
    overflow: hidden; /* fixes horizontal overflow on mobile */
}

/* CIRCLE IN CLOCK'S CENTER */

.clock::after { /* ::after pseudo-element renders circle atop clock hands */
    content: '';
    background-color: rgb(0, 0, 0); /* var(--border-grey) */
    border: 0.5vmin solid rgba(179, 179, 179, 0.445); /* var(--clock-center-grey) */
    height: 2.3%;
    width: 2.3%;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 4;
    transform: translate(-50%, -50%);
    border-radius: 50%;
}

.hour-hand {
    height: 25%;
    width: 2.5%;
    z-index: 1;
    border: 0.05vmin solid var(--border-grey);
    box-shadow: 0.0vmin 0.5vmin 0.6vmin var(--sdash-grey);
    background-color: var(--hand-grey);
}

.minute-hand {
    height: 33.5%;
    width: 2%;
    z-index: 2;
    border: 0.05vmin solid var(--border-grey);
    box-shadow: 0.0vmin 0.5vmin 0.6vmin var(--sdash-grey);
    background-color: var(--hand-grey);
}

.second-hand {
    height: 33%;
    width: 0.25%;
    z-index: 3;
    box-shadow: 0.0vmin 0.5vmin 0.4vmin var(--sdash-grey);
    background-color: var(--clock-center-grey);
}

.second-hand::before {
    position: absolute;
    content: '';
    top: 110%;
    left: -300%;
    height: 25%;
    width: 600%;
    border-radius: 3px;
    background-color: var(--clock-center-grey);
}

.second-hand::after {
    position: absolute;
    content: '';
    top: 100%;
    height: 11%;
    width: 100%;
    background-color: var(--clock-center-grey);
}

/* MEDIA QUERIES */

@media screen and (min-width: 850px) {
    .container {
        width: 90%;
    }

    .logo-img {
        height: 60px; 
        width: 60px;
    }
    
    .logo-text {
        font-size: 200%;
    }

    .tagline {
        display: inline;
        font-family: 'Amatic SC', sans-serif;
        color: var(--logo-grey);
        text-transform: uppercase;
        text-decoration: none;
        letter-spacing: 0.1em;
        font-size: 2em; /* 4.1vmin */
    }
}

@media screen and (min-width: 2400px) {
    .container {
        width: 80%;
    }

    .clock {
        border: 40px solid var(--white);
    }

    .clock::after {
        border: 6px solid var(--clock-center-grey);
    }

    .num_innerbdash_innersdash .num-box {
        font-size: 300%;
    }
}


/*  ================================================================================
                                BLACK_RED CLOCK THEME
    ================================================================================ */

.black_red.clock {
    border: 2.0vmin solid var(--white);
    box-shadow: inset 0 0 5vmin rgba(0, 0, 0, 0.1), 
                        0 2.8vmin 3vmin rgba(0, 0, 0, 0.2), 
                        0 0 0 1.4vmin black;
    border-radius: 50%;
}

.black_red.clock::after {
    background-color: red;
    border: 0.5vmin solid rgba(0, 0, 0, 0.445);
}

.black_red .second-hand {
    background-color: red;
}

.black_red .second-hand::before {
    background-color: red;
}

.black_red .second-hand::after {
    background-color: red;
}

/*  ================================================================================
                                        FOOTER
    ================================================================================ */

footer {
    grid-area: footer;
    grid-row-start: 3;
    grid-row-end: 4;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--logo-grey);
    font-size: 0.8em;
}
